@page "/Cars"
@using FrontApp.Models
@inject HttpClient HttpClient


<PageTitle>Home</PageTitle>

@if (car != null)
{
    <p>@car.Id</p>
    <p>@car.Name</p>
    <p>@car.Price</p>
}
else
{
    <p>No such car found...</p>
}

@code {
    public FrontApp.Models.Car car;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await HttpClient.GetAsync("http://localhost:5148/GetCar?id=1");
            response.EnsureSuccessStatusCode();
            car = await response.Content.ReadFromJsonAsync<FrontApp.Models.Car>();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
